body {
  max-width:500px;
  margin: auto;
  animation-name:bckchg;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

a:link, a:visited {
  color: black;
  text-align: center;
  display: inline-block;
}

div.sticky {
position: -webkit-sticky;
position: sticky;
padding: 5px;
top: 0;
border: 2px;
z-index: 9;
}

.text {
  max-width: 500px;
  background-image: radial-gradient(circle, hsla(229, 100%, 82%, 1), hsla(49, 100%, 65%, 1));
  outline-style:double;
  padding: none;
}

.buttons {
display: inline-block;
}

#title {
  animation-name: rotate;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  font-size: 5em;
  position: top;
  padding: inherit;
}

#indv_msg {
outline-style: double;
font-family: verdana;
font-size: 1em;
float: inherit;
align-content: center;
position: sticky;
max-width: 500px;
border: 25px;
padding: 25px;
margin: 25px;
background-image: radial-gradient(circle, hsla(49, 100%, 65%, 1), hsla(229, 100%, 82%, 1));
}

#indv_msg:hover {
  background-image: radial-gradient(circle, hsla(229, 100%, 82%, 1), hsla(49, 100%, 65%, 1));
}

#textbox {
color: black;
}

@keyframes rotate {
  from {transform: rotateZ(-20deg); }
  to {transform: rotateZ(20deg); }
}

@keyframes bckchg {
  0%   {background-color:hsla(229, 100%, 82%, 1);}
  25%  {background-color:hsla(49, 100%, 65%, 1);}
  50%  {background-color:hsla(229, 100%, 82%, 1);}
  75%  {background-color:hsla(49, 100%, 65%, 1);}
  100% {background-color:hsla(229, 100%, 82%, 1);}
}
