<!DOCTYPE html>
<center>
  <hmtl lang"en" dir=ltr">
    <head><link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>"></head>
    <meta charset="utf-8">
    <title></title>
    <body>
      <h1 id="title">🤙</h1>
      <div>
        <%= @message.display_time%><br>
        <h10>________________</h10><br>
        <%= @message.content %></a><br>
      </div>
    </body>
  </center>
