<!DOCTYPE html>
<hmtl lang"en" dir=ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    </head>
<body>
  <h1>🤙</h1>
  <div>
    <%= @message.created_at %>: <span><%= @message.content %></span>
  </div>
</body>
