<center>
  <h1>
    🤙
  </h1>
  <form action='/new_message' method='post'>
    <textarea
    rows="10" cols="100" type="text" name="message">
  </textarea>
  <br>
  <input type="submit" value="send">
</form>

<%@message.reverse.each do |message| %>
<%= message.time%><br>
<h10>
  ________________
</h10><br>
<%= message.content %><br>
<h10>
  ________________
</h10><br>
<%end%>

</center>
