<!DOCTYPE html>
<center>
  <hmtl lang="en" dir=ltr">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="<%= url("/style/style.css")%>">
    </head>
    <meta charset="utf-8">
    <div class="sticky">
      <h1 id="title">🤙</h1>
    </div>
    <body>
        <div>
          <% @messages.reverse.each do |message| %>
          <%= erb(:individual_message, :locals => { :message => message }) %>
        </div>
      <% end %>
    </body>
  </center>
