<form action="/<%= object %>" method="post">
  <textarea rows="10" cols="100" type="text" name="message" ><%= content == nil ? nil : content %></textarea>
  <input type="hidden" name="_method" value="<%=value%>" />
  <input type="submit" value="🤙" />
</form>
